


{% include scripts/scripts-common.html %}
{% include_relative listeners.html %}



<script>
// vim: ts=3 ft=javascript nowrap


//////////////////////////////
//
// displayShortcut --
//

function displayShortcut(entry) {
	var path = entry["@path"];
	if (path.length > 0) {
		displayLevel(MENUDATA, path[0]["@title"]);
	}
	if (path.length > 1) {
		displayLevel(path[0], path[1]["@title"]);
	}
	if (path.length > 2) {
		displayLevel(path[1], path[2]["@title"]);
	}
	if (path.length > 3) {
		displayLevel(path[2], path[3]["@title"]);
	}
	if (path.length > 4) {
		displayLevel(path[3], path[4]["@title"]);
	}
}



//////////////////////////////
//
// displayLevel --
//

function displayLevel(menudata, selection) {
	var list = [];
	for (var key in menudata) {
		if (typeof menudata[key] === "string") {
			continue;
		}
		if (menudata[key]["@level"]) {
			list.push(menudata[key]);
		}
	}
	list = list.sort(function(a, b) {
		return a["@line"] - b["@line"];
	});
	if (list.length == 0) {
		if (menudata) {
			displayPdfButton(menudata);
			displayInfo(menudata);
		}
		return;
	}

	var level = list[0]["@level"];
	clearLevelsStartingAt(level);

	var output = "";
	output += "<select onchange='updateList(" + level + ")'>";
	for (var i=0; i<list.length; i++) {
		output += "<option value='" + list[i]["@title"] + "'";
		if (selection && selection === list[i]["@title"]) {
			output += " selected";
		}
		output += ">";
		let title = list[i]["@title"].replace(/ZZZ/g, "'")
			.replace(/-flat/g, "&flat;")
			.replace(/-sharp/g, "&sharp;");
		title = replaceParameters(title, list[i].parameters);
		output += title;
		output += "</option>";
	}
	output += "</select>";
	var selector = "#level" + level;
	var element = document.querySelector(selector);
	if (element) {
		element.innerHTML = output;
	}

	if (list.length >= 1) {
		displayLevel(list[0]);
	}
}



//////////////////////////////
//
// replaceParameters --
//

function replaceParameters(value, params) {
	let matches;
	while (matches = value.match(/%([A-Z0-9_]+)/)) {
		let key = matches[1];
		let p = params[key] || "";
		value = value.replace(new RegExp(`%${key}`, "g"), p);
	}
	return value;
}



//////////////////////////////
//
// displayInfo --
//

function displayInfo(menudata) {
	if (!menudata) {
		console.log("Error: entry is not defined");
		return;
	}
	var dataurl = menudata.dataurl;
	var infourl = menudata.url;

	var element = document.querySelector("div#info");
	if (!element) {
		console.log("Error: could not found info div");
		return;
	}
	var output = "";
	output += "<ul style='padding-bottom:0; margin-bottom:0;'>";

	if (infourl && !infourl.match(/^\s*$/)) {
		output += "<li>";
		output += "See: <a target='data' href='" + infourl + "'>";
		output += infourl.replace(/http[s]:\/\//, "");
		output += "</a>";
		output += "</li>";
	}

	if (dataurl && !dataurl.match(/^\s*$/)) {
		var bburl;
		if (dataurl.match(/bitbucket/)) {
			// https://bitbucket.org/musedata/beethoven/raw/master/bhl/orch/sym9/editions/public/score/mvt4a.md2
			// to:
			// https://bitbucket.org/musedata/beethoven/src/master/bhl/orch/sym9/editions/public/score/mvt4a.md2
			bburl = dataurl.replace(/\/raw\//, "/src/");
		} else if (dataurl.match(/github/)) {
			// https://raw.githubusercontent.com/josquin-research-project/Jos/master/Jos2830-Scaramella.krn
			// to:
			// https://github.com/josquin-research-project/Jos/blob/master/Jos2830-Scaramella.krn
			bburl = dataurl.replace(/raw\.githubusercontent\.com/, "//github.com/")
				.replace(/master/, "blob/master");
		}
		output += "<li>";
		output += "<a target='data' href='";
		output += bburl 
		output += "'>";
		output += "Source data for PDF";
		if (dataurl.match(/bitbucket/)) {
			output += " on bitbucket";
		} else if (dataurl.match(/github/)) {
			output += "on github";
		}
		output += "</a>";
		
		output += "</li>";
	}

	if (dataurl && !dataurl.match(/^\s*$/)) {
		output += "<li>";
		output += "<a target='data' href='" + dataurl + "'>";
		output += "Raw data";
		if (dataurl.match(/\.md2/)) {
			output += " (Musedata file)";
		} else if (dataurl.match(/\.msd/)) {
			output += " (Musedata file)";
		} else if (dataurl.match(/\.iff/)) {
			output += " (page-layout file)";
		} else if (dataurl.match(/\.krn/)) {
			output += " (Humdrum file)";
		}
		output += "</a>";
		
		output += "</li>";
	}

//	if (dataurl && !dataurl.match(/^\s*$/)) {
//		var newurl = dataurl.replace(/raw\/.*/, "") + "issues";
//		output += "<li>";
//		output += "<a target='data' href='" + newurl + "'>";
//		output += "Report problem with music/data";
//		output += "</a>";
//		output += "</li>";
//	}

	if (dataurl && dataurl.match(/\.md2$/)) {
		output += "<li>";
		output += "N.B.: automatic typesetting from symbolic data";
		output += "</li>";
	}

	element.innerHTML = output;
}



//////////////////////////////
//
// displayPdfButton --
//

function displayPdfButton(menudata) {
	if (!menudata) {
		menudata = MENUDATA
	}
	if (!menudata) {
		console.log("Error: entry is not defined");
		return;
	}
	var shortcut = menudata.shortcut;
	if (!shortcut) {
		console.log("Error: shortcut was not found in", menudata);
		return;
	}
	var abutton = document.querySelector("#actionbuttons");
	if (!abutton) {
		console.log("Error: button location is not available");
		return;
	}
	var output = "";
	output += "<div class='pdfbutton disable-select' onclick='generatePdf(event, \"" + shortcut + "\")'>Download PDF</div>";
	abutton.innerHTML = output;
}



//////////////////////////////
//
// generatePdf -- Extra parameters will move to pdf.musedata.org eventually.
//

function generatePdf(event, id) {
	var p = getParameters(id);
	var cgi = "";
	if (p) {
//		if (p.FOOTER_LEFT_BOTTOM) {
//			cgi += "&L1=" + expandParameter(p.FOOTER_LEFT_BOTTOM, p);
//		}
//		if (p.FOOTER_LEFT_MIDDLE) {
//			cgi += "&L2=" + expandParameter(p.FOOTER_LEFT_MIDDLE, p);
//		}
//		if (p.FOOTER_LEFT_TOP) {
//			cgi += "&L3=" + expandParameter(p.FOOTER_LEFT_TOP, p);
//		}
//		if (p.FOOTER_RIGHT_BOTTOM) {
//			cgi += "&R1=" + expandParameter(p.FOOTER_RIGHT_BOTTOM, p);
//		}
//		if (p.FOOTER_RIGHT_MIDDLE) {
//			cgi += "&R2=" + expandParameter(p.FOOTER_RIGHT_MIDDLE, p);
//		}
//		if (p.FOOTER_RIGHT_TOP) {
//			cgi += "&R3=" + expandParameter(p.FOOTER_RIGHT_TOP, p);
//		}
	}
	var url = "https://pdf.musedata.org?id=" + id + cgi;
	if (event && event.shiftKey) {
		url += "&nocache";
	}
	window.open(url, "_blank");
	console.log("Shift-click on the download button to view debug information");
}



//////////////////////////////
//
// expandParameter --  This will be moved to pdf.musedata.org eventually.
//

function expandParameter(text, p) {
	var matches = text.match(/%([A-Za-z0-9_]{2,})\b/);
	var value;
	var key;
	while (matches) {
		var key = matches[1];
		if (p[key]) {
			if (key === "YEAR_COPYRIGHT") {
            value = "(C) " + p[key] + " Center for Computer Assisted Research in the Humanities (CCARH)";
			} else {
				value = p[key];
			}
		} else {
			value = "";
		}
		text = text.replace("%" + key, value);
		matches = text.match(/%([A-Za-z0-9_]{2,})\b/);
	}
	return text;
}



//////////////////////////////
//
// getParameters --  This will move to pdf.musedata.org eventually, although this
//   might be useful for other situations on this website.  This function returns
//   the entry in INDEX that contains the SHORTCUT.  Eventually add ALIASES
//   searches as well.
//

function getParameters(id, index) {
	if (!index) {
		index = INDEX;
	}
	for (var i=0; i<index.length; i++) {
		if (index[i].SHORTCUT === id) {
			return index[i];
		}
	}
	return null;
}



//////////////////////////////
//
// updateList --
//

function updateList(level) {
	clearLevelsStartingAt(level+1);
	var path = [];
	var levels = document.querySelector("#levels");
	var i;
	for (i=1; i<=level; i++) {
		var element = levels.querySelector("#level" + i + " select");
		if (!element) {
			continue;
		}
		path.push(element.value);
	}
	var obj = MENUDATA;
	for (i=0; i<path.length; i++) {
		obj = obj[path[i]];
	}
	displayLevel(obj);
}



//////////////////////////////
//
// clearLevelsStartingAt --
//

function clearLevelsStartingAt(level) {
	var levels = document.querySelector("#levels");
	var level1;
	var level2;
	var level3;
	var level4;
	var level5;

	if (level <= 5) {
		var level5 = levels.querySelector("#level5");
		level5.innerHTML = "";
	}

	if (level <= 4) {
		var level4 = levels.querySelector("#level4");
		level4.innerHTML = "";
	}

	if (level <= 3) {
		var level3 = levels.querySelector("#level3");
		level3.innerHTML = "";
	}

	if (level <= 2) {
		var level2 = levels.querySelector("#level2");
		level2.innerHTML = "";
	}

	if (level <= 1) {
		var level1 = levels.querySelector("#level1");
		level1.innerHTML = "";
	}

	var buttons = document.querySelector("#actionbuttons");
	if (buttons) {
		buttons.innerHTML = "";
	}
}



//////////////////////////////
//
// selectTypesettingGroup --
//

function selectTypesettingGroup() {
	var element = document.querySelector("select#data-type");
	if (!element) {
		return;
	}
	var value = element.value;
	if (value === "automatic") {
		LIST = LIST_AUTOMATIC;
		SHORTCUTS = SHORTCUTS_AUTOMATIC;
		MENUDATA = MENUDATA_AUTOMATIC;
	} else if (value === "manual") {
		LIST = LIST_MANUAL;
		SHORTCUTS = SHORTCUTS_MANUAL;
		MENUDATA = MENUDATA_MANUAL;
	} else {
		LIST = LIST_BOTH;
		SHORTCUTS = SHORTCUTS_BOTH;
		MENUDATA = MENUDATA_BOTH;
	}

	displayMenudata(MENUDATA, LIST, SHORTCUTS);
}



</script>



