

<!--=== Header ===-->
<div id="header" class="clearfix" role="banner">
<div id="stats"><img style="height:100px;" src="/images/ccarh-old.gif"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8"> 
        <!-- Logo -->
        <div id="logo" class="clearfix"> <span style="color:#e2dacb; font-size:320%">Musedata</span></div>
        <!-- /logo -->
        <div id="signature"> 
          <div id="site-name" style="white-space: nowrap; width:100%"> 
            <a href="/"><span id="site-name-1"><a style="color:#e2dacb;" target="_blank" href="https://wiki.ccarh.org">CCARH</a></span></a> @ <span id="site-name-1"><a style="color:#e2dacb;" target="_blank" href="https://www.packhum.org">PHI</a></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
