<script>
// vim: ts=3 nowrap ft=javascript

var SHORTCUTS = {};
var SHORTCUTS_AUTOMATIC = {};
var SHORTCUTS_MANUAL = {};
var SHORTCUTS_BOTH = {};
var LIST_AUTOMATIC = [];
var LIST_MANUAL = [];
var LIST_BOTH = [];
var LIST = [];
var CGI = {};                // CGI parameters from URL
var INDEX = [];              // JSON data from Google spreadsheet
var MENUDATA = [];           // Current hierarchical menu
var MENUDATA_BOTH = [];      // Hierarchical menu with automatic and manual typesettings
var MENUDATA_AUTOMATIC = []; // Music Page Files only
var MENUDATA_MANUAL = [];    // Stage2 data only
var ID = "";



//////////////////////////////
//
// PrepareCgiParameters --
//

function PrepareCgiParameters() {
	CGI = GetCgiParameters();
	if (CGI.id) {
		ID = CGI.id;
	}
}



//////////////////////////////
//
// HighlightLinkInHeader --
//   border-bottom: 2px solid #8c1515;
//

function HighlightLinkInHeader() {
	var element = document.querySelector("ul.highlight");
	if (!element) {
		return;
	}

	var list = element.querySelectorAll("li a");
	var target = window.location.pathname.replace(/\/$/, "");
	for (var i=0; i<list.length; i++) {
		var location = list[i].pathname.replace(/\/$/, "");
		if (location === target) {
			list[i].style.borderBottom = "2px solid #8c1515";
		} else {
			list[i].style.borderBottom = "2px solid #f2f1eb";
		}
		if (list[i].textContent.match(/About/)) {
			list[i].style.borderBottom = "2px solid #f2f1eb";
		}
	}
}



//////////////////////////////
//
// GetCgiParameters -- Returns an associative array containing the
//     page's URL's CGI parameters
//

function GetCgiParameters() {
   var url = window.location.search.substring(1);
   var output = {};
   var settings = url.split('&');
   for (var i=0; i<settings.length; i++) {
      var pair = settings[i].split('=');
      pair[0] = decodeURIComponent(pair[0]);
      pair[1] = decodeURIComponent(pair[1]);
      if (typeof output[pair[0]] === 'undefined') {
         output[pair[0]] = pair[1];
      } else if (typeof output[pair[0]] === 'string') {
         var arr = [ output[pair[0]], pair[1] ];
         output[pair[0]] = arr;
      } else {
         output[pair[0]].push(pair[1]);
      }
   }
   return output;
}



//////////////////////////////
//
// PrepareMenuIndexBoth --  Convert flat listing of the index
//    into a hierarchical one.
//

function PrepareMenuIndexBoth(index) {
	var shortcuts = {};
	var list = [];
	var i;
	var output = {};
	var cells;
	var shortcut;
	var dataurl;
	var url;
	var level1;
	var level2;
	var level3;
	var level4;
	var level5;
	var max;
	var obj;
	for (i=0; i<index.length; i++) {
		cells = index[i];

		// required fields:
		if ((!cells.LEVEL_1) || cells.LEVEL_1.match(/^\s*$/)) {
			continue;
		}
		if ((!cells.SHORTCUT) || cells.SHORTCUT.match(/^\s*$/)) {
			continue;
		}
		if ((!cells.DATA_URL) || cells.DATA_URL.match(/^\s*$/)) {
			continue;
		}
		if (cells.SUPPRESS && cells.SUPPRESS.match(/Y/i)) {
			continue;
		}

		level1      = cells.LEVEL_1    || "";
		level2      = cells.LEVEL_2    || "";
		level3      = cells.LEVEL_3    || "";
		level4      = cells.LEVEL_4    || "";
		level5      = cells.LEVEL_5    || "";
		shortcut    = cells.SHORTCUT   || "";
		dataurl     = cells.DATA_URL   || "";
		instrument  = cells.INSTRUMENT || "";
		url         = cells.URL || "";
		level1      = level1.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level2      = level2.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level3      = level3.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level4      = level4.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level5      = level5.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		if (shortcut.match(/^\s*$/)) { continue; }
		if (dataurl.match(/^\s*$/)) { continue; }
		if (!level5.match(/^\s*$/)) { max = 5; }
		else if (!level4.match(/^\s*$/)) { max = 4; }
		else if (!level3.match(/^\s*$/)) { max = 3; }
		else if (!level2.match(/^\s*$/)) { max = 2; }
		else if (!level1.match(/^\s*$/)) { max = 1; }
		if (max < 2) {
			continue;
		}
		if (max == 5) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1 }; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			if (!output[level1][level2][level3][level4]) { 
				output[level1][level2][level3][level4] = { "@level": 4, "@line":i, "@title":level4}; 
			}
			if (!output[level1][level2][level3][level4][level5]) { 
				output[level1][level2][level3][level4][level5] = { "@level": 5, "@line":i, "@title":level5}; 
			}
			obj = output[level1][level2][level3][level4][level5];
		} else if (max == 4) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			if (!output[level1][level2][level3][level4]) { 
				output[level1][level2][level3][level4] = { "@level": 4, "@line":i, "@title":level4}; 
			}
			obj = output[level1][level2][level3][level4];
		} else if (max == 3) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			obj = output[level1][level2][level3];
		} else if (max == 2) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			obj = output[level1][level2];
		} else {
			continue;
		}
		obj.parameters = cells;
		obj.shortcut = shortcut.replace(/\s+/g, "");
		obj.instrument = instrument;
		obj.dataurl = dataurl;
		obj.url = url;
		obj["@line"] = i;
		obj["@path"] = [];
		if (!level1.match(/^\s*$/)) {
			obj["@path"].push(output[level1]);
			if (!level2.match(/^\s*$/)) {
				obj["@path"].push(output[level1][level2]);
				if (!level3.match(/^\s*$/)) {
					obj["@path"].push(output[level1][level2][level3]);
					if (!level4.match(/^\s*$/)) {
						obj["@path"].push(output[level1][level2][level3][level4]);
						if (!level5.match(/^\s*$/)) {
							obj["@path"].push(output[level1][level2][level3][level4][level5]);
						}
					}
				}
			}
		}
		if (shortcuts[obj.shortcut]) {
			console.log("WARNING: shortcut", shortcut, "already exists:", shortcuts[obj.shortcut]);
		} else {
			shortcuts[obj.shortcut] = obj;
		}
		list.push(obj);
	}
	LIST_BOTH = list;
	SHORTCUTS_BOTH = shortcuts;
	return output;
}



//////////////////////////////
//
// PrepareMenuIndexAutomatic -- Hierarchical List with Stage2 data only
//     (not .iff or page files).
//

function PrepareMenuIndexAutomatic(index) {
	var shortcuts = {};
	var list = [];
	var output = {};
	var cells;
	var shortcut;
	var dataurl;
	var url;
	var level1;
	var level2;
	var level3;
	var level4;
	var level5;
	var max;
	var obj;
	var i;
	for (i=0; i<index.length; i++) {
		cells = index[i];

		// required fields:
		if ((!cells.LEVEL_1) || cells.LEVEL_1.match(/^\s*$/)) {
			continue;
		}
		if ((!cells.SHORTCUT) || cells.SHORTCUT.match(/^\s*$/)) {
			continue;
		}
		if ((!cells.DATA_URL) || cells.DATA_URL.match(/^\s*$/)) {
			continue;
		}
		if (cells.SUPPRESS && cells.SUPPRESS.match(/Y/i)) {
			continue;
		}

		// Remove all downloads that contain .iff
		// This will have to be fixed since it is now possible to 
		// to read in multi-file urls that do not have an extension.

		if (cells.DATA_URL.match(/\.iff/)) {
			continue;
		}

		level1   = cells.LEVEL_1  || "";
		level2   = cells.LEVEL_2  || "";
		level3   = cells.LEVEL_3  || "";
		level4   = cells.LEVEL_4  || "";
		level5   = cells.LEVEL_5  || "";
		shortcut = cells.SHORTCUT || "";
		dataurl  = cells.DATA_URL || "";
		url      = cells.URL || "";
		level1   = level1.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level2   = level2.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level3   = level3.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level4   = level4.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level5   = level5.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		if (shortcut.match(/^\s*$/)) { continue; }
		if (dataurl.match(/^\s*$/)) { continue; }
		if (!level5.match(/^\s*$/)) { max = 5; }
		else if (!level4.match(/^\s*$/)) { max = 4; }
		else if (!level3.match(/^\s*$/)) { max = 3; }
		else if (!level2.match(/^\s*$/)) { max = 2; }
		else if (!level1.match(/^\s*$/)) { max = 1; }
		if (max < 2) {
			continue;
		}
		if (max == 5) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1 }; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			if (!output[level1][level2][level3][level4]) { 
				output[level1][level2][level3][level4] = { "@level": 4, "@line":i, "@title":level4}; 
			}
			if (!output[level1][level2][level3][level4][level5]) { 
				output[level1][level2][level3][level4][level5] = { "@level": 5, "@line":i, "@title":level5}; 
			}
			obj = output[level1][level2][level3][level4][level5];
		} else if (max == 4) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			if (!output[level1][level2][level3][level4]) { 
				output[level1][level2][level3][level4] = { "@level": 4, "@line":i, "@title":level4}; 
			}
			obj = output[level1][level2][level3][level4];
		} else if (max == 3) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			obj = output[level1][level2][level3];
		} else if (max == 2) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			obj = output[level1][level2];
		} else {
			continue;
		}
		obj.parameters = cells;
		obj.shortcut = shortcut.replace(/\s+/g, "");
		obj.dataurl = dataurl;
		obj.url = url;
		obj["@line"] = i;
		obj["@path"] = [];
		if (!level1.match(/^\s*$/)) {
			obj["@path"].push(output[level1]);
			if (!level2.match(/^\s*$/)) {
				obj["@path"].push(output[level1][level2]);
				if (!level3.match(/^\s*$/)) {
					obj["@path"].push(output[level1][level2][level3]);
					if (!level4.match(/^\s*$/)) {
						obj["@path"].push(output[level1][level2][level3][level4]);
						if (!level5.match(/^\s*$/)) {
							obj["@path"].push(output[level1][level2][level3][level4][level5]);
						}
					}
				}
			}
		}
		if (shortcuts[obj.shortcut]) {
			console.log("WARNING: shortcut", shortcut, "already exists:", shortcuts[obj.shortcut]);
		} else {
			shortcuts[obj.shortcut] = obj;
		}
		list.push(obj);
	}
	LIST_AUTOMATIC = list;
	SHORTCUTS_AUTOMATIC = shortcuts;
	return output;
}



//////////////////////////////
//
// PrepareMenuIndexManual -- Only keep manual typesetting (.iff).  This
//   will need to be fixed since the data URL can no longer be used
//   to identify the data type.
//

function PrepareMenuIndexManual(index) {
	var shortcuts = {};
	var list = [];
	var output = {};
	var cells;
	var shortcut;
	var dataurl;
	var url;
	var level1;
	var level2;
	var level3;
	var level4;
	var level5;
	var max;
	var obj;
	var i;
	for (i=0; i<index.length; i++) {
		cells = index[i];

		// required fields:
		if ((!cells.LEVEL_1) || cells.LEVEL_1.match(/^\s*$/)) {
			continue;
		}
		if ((!cells.SHORTCUT) || cells.SHORTCUT.match(/^\s*$/)) {
			continue;
		}
		if ((!cells.DATA_URL) || cells.DATA_URL.match(/^\s*$/)) {
			continue;
		}
		if (cells.SUPPRESS && cells.SUPPRESS.match(/Y/i)) {
			continue;
		}

		// Keep all downloads that contain .iff
		// This will have to be fixed since it is now possible to 
		// to read in multi-file urls that do not have an extension.

		if (!cells.DATA_URL.match(/\.iff/)) {
			continue;
		}

		level1   = cells.LEVEL_1  || "";
		level2   = cells.LEVEL_2  || "";
		level3   = cells.LEVEL_3  || "";
		level4   = cells.LEVEL_4  || "";
		level5   = cells.LEVEL_5  || "";
		shortcut = cells.SHORTCUT || "";
		dataurl  = cells.DATA_URL || "";
		url      = cells.URL || "";
		level1   = level1.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level2   = level2.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level3   = level3.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level4   = level4.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		level5   = level5.replace(/^\s+/, "").replace(/^\s+$/, "").replace(/'/g, "ZZZ");
		if (shortcut.match(/^\s*$/)) { continue; }
		if (dataurl.match(/^\s*$/)) { continue; }
		if (!level5.match(/^\s*$/)) { max = 5; }
		else if (!level4.match(/^\s*$/)) { max = 4; }
		else if (!level3.match(/^\s*$/)) { max = 3; }
		else if (!level2.match(/^\s*$/)) { max = 2; }
		else if (!level1.match(/^\s*$/)) { max = 1; }
		if (max < 2) {
			continue;
		}
		if (max == 5) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1 }; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			if (!output[level1][level2][level3][level4]) { 
				output[level1][level2][level3][level4] = { "@level": 4, "@line":i, "@title":level4}; 
			}
			if (!output[level1][level2][level3][level4][level5]) { 
				output[level1][level2][level3][level4][level5] = { "@level": 5, "@line":i, "@title":level5}; 
			}
			obj = output[level1][level2][level3][level4][level5];
		} else if (max == 4) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			if (!output[level1][level2][level3][level4]) { 
				output[level1][level2][level3][level4] = { "@level": 4, "@line":i, "@title":level4}; 
			}
			obj = output[level1][level2][level3][level4];
		} else if (max == 3) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			if (!output[level1][level2][level3]) { 
				output[level1][level2][level3] = { "@level": 3, "@line":i, "@title":level3}; 
			}
			obj = output[level1][level2][level3];
		} else if (max == 2) {
			if (!output[level1]) { 
				output[level1] = { "@level": 1, "@line":i, "@title":level1}; 
			}
			if (!output[level1][level2]) { 
				output[level1][level2] = { "@level": 2, "@line":i, "@title":level2}; 
			}
			obj = output[level1][level2];
		} else {
			continue;
		}
		obj.parameters = cells;
		obj.shortcut = shortcut.replace(/\s+/g, "");
		obj.dataurl = dataurl;
		obj.url = url;
		obj["@line"] = i;
		obj["@path"] = [];
		if (!level1.match(/^\s*$/)) {
			obj["@path"].push(output[level1]);
			if (!level2.match(/^\s*$/)) {
				obj["@path"].push(output[level1][level2]);
				if (!level3.match(/^\s*$/)) {
					obj["@path"].push(output[level1][level2][level3]);
					if (!level4.match(/^\s*$/)) {
						obj["@path"].push(output[level1][level2][level3][level4]);
						if (!level5.match(/^\s*$/)) {
							obj["@path"].push(output[level1][level2][level3][level4][level5]);
						}
					}
				}
			}
		}
		if (shortcuts[obj.shortcut]) {
			console.log("WARNING: shortcut", shortcut, "already exists:", shortcuts[obj.shortcut]);
		} else {
			shortcuts[obj.shortcut] = obj;
		}
		list.push(obj);
	}

	LIST_MANUAL = list;
	SHORTCUTS_MANUAL = shortcuts;
	return output;
}



//////////////////////////////
//
// ReloadIndex --
//

function ReloadIndex(callback) {
	delete sessionStorage.INDEX;
	PrepareIndex(callback);
}



//////////////////////////////
//
// PrepareIndex --
//

function PrepareIndex(callback) {
	// Show busy cursor while downloading index:
	setTimeout(function () {
		document.body.classList.add("wait");
	}, 0);

	// Create URL for work index to download:
	// No longer works, redirect to different website for TSV extraction probably causing CORS problem.
	// var sid = "1U4Z-NeU2FGk_qNq6BwXeSVN-p8AnZsWbRHGo5fk3f3A"
	// var gid = "0";
	// var url = "https://docs.google.com/spreadsheets/d/";
	// url += sid + "/export?gid=" + gid + "&format=tsv";

	// Spreadsheet URL:
   // https://docs.google.com/spreadsheets/d/e/2PACX-1vTTZN-R0h99A6x2Xc74PA1NuAFLQbUx8Kw_DsKvZPkJ2Hh_-knqQoeS6Yd07Yb2VoWR7LITIRnTAkSt/pubhtml

	// Alternate url (also has CORS problem):
	//var url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vTTZN-R0h99A6x2Xc74PA1NuAFLQbUx8Kw_DsKvZPkJ2Hh_-knqQoeS6Yd07Yb2VoWR7LITIRnTAkSt/pub?gid=0&single=true&output=tsv";

	// backup url:
	// url2 = "/list/musedata-index.json";

	// check if the index is stored in sessionStorage:
	if (sessionStorage.INDEX) {
		try {
			INDEX = JSON.parse(sessionStorage.INDEX);
			PrepareOtherIndexes(INDEX);
			if (callback) {
				callback();
			}
			setTimeout(function () {
				document.body.classList.remove("wait");
			}, 50);
			return;
		} catch (err) {
			delete sessionStorage.INDEX;
		}
	}

	// Get JSON version from above spreadsheet:
	var sid = "AKfycbyIBWnniSSUHEDr10yRdMVx72sQDXXntyQ6bd0az2JpumBulp4";
	url = "https://script.google.com/macros/s/" + sid + "/exec";
	var request = new XMLHttpRequest();
	request.addEventListener("load", function () {
		try {
			INDEX = JSON.parse(this.responseText);
			// prevent buffering of index for now:
			// sessionStorage.INDEX = this.responseText;
		} catch (error) {
			console.log("ERROR: ", error.message);
			// Do a backup access method of some sort.
		}
		PrepareOtherIndexes(INDEX);
		if (callback) {
			callback();
		}
		setTimeout(function () {
			document.body.classList.remove("wait");
		}, 50);
	});
	request.open("GET", url);
	// Cannot do the following since it has to be done on the server, and this 
	// parameter seems to otherwise trigger CORS:
	// request.setRequestHeader('Access-Control-Allow-Origin', '*');
	request.send();
}



//////////////////////////////
//
// PrepareOtherIndexes -- Starting with the flat index of Musedata files, generate
//     the hierarchical one.
//

function PrepareOtherIndexes(index) {
	MENUDATA_BOTH      = PrepareMenuIndexBoth(INDEX);
	MENUDATA_AUTOMATIC = PrepareMenuIndexAutomatic(INDEX);
	MENUDATA_MANUAL    = PrepareMenuIndexManual(INDEX);

	// load the default views:
	MENUDATA  = MENUDATA_BOTH;
	LIST      = LIST_BOTH;
	SHORTCUTS = SHORTCUTS_BOTH;
}



//////////////////////////////
//
// DisplayMenudata -- Display the hierarchical work list on the page,
//    as a series of drop-down menus.  For the homepage, but set for
//    all pages so data clearing can work from any page.
//

function DisplayMenudata(menudata, list, shortcuts) {
	if (!menudata) {
		menudata = MENUDATA;
	}
	if (!list) {
		list = LIST;
	}
	if (!shortcuts) {
		shortcuts = SHORTCUTS;
	}

	if (!ID.match(/^\s*$/)) {
		var entry = shortcuts[ID];
		if (entry) {
			displayShortcut(entry);
		} else {
			displayLevel(menudata);
		}
	} else {
		displayLevel(menudata);
	}
}



</script>

