<!DOCTYPE html>
<html lang="en">
<!-- source: http://web.stanford.edu/group/webdev/cardinal -->

{% include head.html %}

<body class="home"> <!-- class="home" underlines the Home link in the top nav -->
<div id="su-wrap"> <!-- used to force footer to bottom of short pages -->
  <div id="su-content"> <!-- used to force footer to bottom of short pages --> 
    
    <!--=== Top ===-->
    <div id="top">
      <div class="container"> 
        <!--=== Skip links ===-->
        <div id="skip"> <a href="#mycontent" onClick="$('#mycontent').focus()">Skip to content</a> </div>
        <!-- /Skip links --> 
      </div>
    </div>
    <!--/top--> 

   {% include header.html %}
    
    <!-- Menu -->
    <div id="mainmenu" class="clearfix" role="navigation">
      <div class="container">
        <div class="navbar navbar-default"> 
          
          <!-- main navigation -->
<!--
          <button type="button" class="navbar-toggle btn-navbar" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="menu-text">Menu</span></button>
-->
          <button type="button" class="navbar-toggle btn-navbar" data-target=".navbar-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="menu-text">Menu</span></button>
          <!-- /nav-collapse -->
          
<!--
          <div class="navbar-collapse collapse"> 
-->
          <div class="navbar-collapse"> 
            <!--search box-->
<!--
            <div id="nav-search" role="search">
              <form action="http://www.stanford.edu/search" method="get" id="search-form" accept-charset="UTF-8">
                <h2 class="hidden">Search form</h2>
                <label class="hidden" for="search-field">Search term</label>
                <input name="cx" type="hidden" value="003265255082301896483:sq5n7qoyfh8">
                <input name="cof" type="hidden" value="FORID:9">
                <input name="ie" type="hidden" value="UTF-8">
                <input name="as_sitesearch" type="hidden" value="facts.stanford.edu">
                <input title="Search string" class="input-medium" placeholder="Search this site&hellip;" type="text" id="search-field" name="q" value="" size="15" maxlength="128" />
                <button id="search-btn" type="submit" name="submit"  aria-label="Search" formmethod="get"><i class="fa fa-search"></i></button>
              </form>
            </div>
-->
		{% include navigation-bar.html %}


          </div>
          <!-- /nav-collapse --> 
        </div>
        <!-- /navbar --> 
        
      </div>
      <!-- /container --> 
    </div>
    <!-- /mainmenu --> 
    
    <!-- main content -->
    <div id="mycontent" class="container" role="main" tabindex="0">


      <h1 class="hide">Cardinal Theme</h1>
      <div class="row">
                <!-- Main column -->
        <div id="main-content" class="col-md-16 col-md-push-1" role="main">

	{{content}}

      </div>
    </div>
    <!-- #content--> 
    
  </div>
  <!-- #su-content --> 
</div>
<!-- #su-wrap --> 


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139966393-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-139966393-1');
</script>


</body>
</html>

